ipython==8.4.0
ipywidgets==7.7.1
joblib==1.1.0
keras==2.6.0
matplotlib==3.6.0rc2
mlflow==1.27.0
numba==0.54.1
numpy==1.19.5
pandas==1.4.3
pycaret==3.0.0rc3
python_dateutil==2.8.2
scikit_learn==1.1.2
scipy==1.5.4
seaborn==0.11.2
statsmodels==0.13.2
streamlit==1.12.2
tensorflow==2.9.1
tensorflow_cpu==2.6.0
pyarrow==9.0.0
